Library/
Temp/
Obj/
Build/
Builds/
/Logs/
/UserSettings/
/MemoryCaptures/
/Recordings/
/Validation/
/ReleaseBuilds/
/ProjectSettings/*.asset
.vs/
.vscode/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt

# Local Unity QA assets
/Assets/9cA7K7cS_400x400.jpg
/Assets/9cA7K7cS_400x400.jpg.meta
/Assets/GeneratedIcons/
/Assets/GeneratedIcons.meta
